@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,700,900&display=swap");
/************************
BASE
************************/
body {
  font-family: "Poppins", sans-serif;
}

#page-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

/************************
SIDEBAR
************************/
.logo {
  top: 5px;
  left: 1rem;
  padding: 0px;
  margin: 0;
  z-index: 11;
  position: fixed;
}
.logo a {
  color: black;
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
}

#navigation {
  position: fixed;
  z-index: 10;
  overflow: auto;
  top: 0px;
  bottom: 0;
  left: -460px;
  width: 520px;
  padding: 20px 0px;
  height: 100%;
  background-color: white;
  color: black;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
}
#navigation .menuicon {
  position: relative;
  z-index: 5;
  top: 50%;
  right: 0.95rem;
  cursor: pointer;
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
  float: right;
}
#navigation .menuicon > div {
  width: 2.25rem;
  height: 4px;
  margin-bottom: 16px;
  background-color: black;
}
#navigation .menuicon.active > div {
  background-color: black;
}
#navigation .menuicon.active #top {
  /*transform: translateY(0px) rotate(-135deg);*/
}
#navigation .menuicon.active #bottom {
  /*transform: translateY(-10px) rotate(-45deg);*/
}
#navigation .menu-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
  display: flex;
  margin-top: 2rem;
}
#navigation .menu-content .main {
  width: 50%;
  min-height: 45vh;
}
#navigation .menu-content .main ul {
  -webkit-align-self: stretch;
  align-self: stretch;
  vertical-align: top;
}
#navigation .menu-content .main ul li a {
  font-size: 2rem;
  line-height: 2rem;
  line-height: 4rem;
}
#navigation .menu-content .submenu {
  width: 50%;
  font-size: 0.75rem;
}
#navigation .menu-content ul {
  list-style: none;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: stretch;
  align-self: stretch;
  vertical-align: middle;
}
#navigation .menu-content ul li {
  width: 100%;
  padding: 5px 0px;
}
#navigation .menu-content ul li a {
  font-size: 0.75rem;
  text-decoration: none;
  color: black;
}
#navigation .menu-content ul.menu-title {
  color: rgba(0, 0, 0, 0.25);
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
#navigation .menu-content ul.menu-title__dark {
  color: black;
}
#navigation .menu-content ul.menu-title__dark h4 {
  padding: 0;
  padding: 0;
  margin: 0;
  line-height: 1.25;
}
#navigation .menu-content ul.menu-title__dark li a {
  color: rgba(0, 0, 0, 0.25);
}
#navigation .menu-content h4 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
}
#navigation .menu-content h4.topmenu {
  min-height: 4rem;
  font-size: 0.75rem;
  vertical-align: top;
}

/************************
HEADER
************************/
.nav-top {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}
.nav-top .wrap-top-nav {
  width: 100%;
  padding: 20px 0;
}
.nav-top .wrap-top-nav a {
  text-decoration: none;
  font-size: 1rem;
  padding: 15px 30px;
  color: black;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.nav-top .wrap-top-nav a:hover, .nav-top .wrap-top-nav a:focus, .nav-top .wrap-top-nav a:active {
  background: transparent;
  border: 1px solid black;
}
.nav-top .wrap-top-nav .download-app {
  float: left;
}
.nav-top .wrap-top-nav .wrap-top-right {
  position: relative;
  float: right;
}
.nav-top .wrap-top-nav .wrap-top-right .currency {
  float: left;
}
.nav-top .wrap-top-nav .wrap-top-right .sign-in {
  float: left;
}
.nav-top .wrap-top-nav .wrap-top-right .sign-in a {
  padding: 15px 15px;
}
.nav-top .wrap-top-nav .wrap-top-right .sign-in a.register {
  border: 1px solid black;
}
.nav-top .wrap-top-nav .wrap-top-right .sign-in a.register:hover, .nav-top .wrap-top-nav .wrap-top-right .sign-in a.register:focus, .nav-top .wrap-top-nav .wrap-top-right .sign-in a.register:active {
  background: black;
  border: 1px solid black;
  color: white;
}
.nav-top .wrap-top-nav .wrap-top-right .search {
  float: left;
  padding: 0px 15px;
}
.nav-top .wrap-top-nav .wrap-top-right .search input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0px 10px 0px 42px;
  width: 55px;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  height: 25px;
}
.nav-top .wrap-top-nav .wrap-top-right .search input[type=search]:focus,
.nav-top .wrap-top-nav .wrap-top-right .search input[type=search]:hover {
  width: 300px;
  background-color: white;
  border-color: black;
  -webkit-box-shadow: 0 0 5px #d1d1d1;
  -moz-box-shadow: 0 0 5px #d1d1d1;
  box-shadow: 0 0 5px #d1d1d1;
  padding: 9px 10px 9px 42px;
  min-height: 25px;
}
.nav-top .wrap-top-nav .wrap-top-right .search input:-moz-placeholder {
  color: #00241B;
}
.nav-top .wrap-top-nav .wrap-top-right .search textarea::placeholder,
.nav-top .wrap-top-nav .wrap-top-right .search input::-webkit-input-placeholder {
  color: #00241B;
}

header {
  position: relative;
  width: 100%;
  min-height: 85vh;
}
header .slide-main {
  width: 100%;
  height: 100%;
  max-height: 85vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 85vh;
}
header .slide-main .header-title {
  position: absolute;
  width: 100%;
  top: 25%;
  left: 0;
  z-index: 2;
}
header .slide-main .header-title h1 {
  font-size: 5rem;
  color: white;
  font-weight: 900;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
header .slide-main .header-title h2 {
  color: white;
}
header .slide-main .bg-image {
  max-width: 100%;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
}
header .slide-main .bg-image video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/************************
ANIMATION
*************************/
.one,
.two,
.thee,
.four,
.five,
.six {
  opacity: 0;
}

/*# sourceMappingURL=../css/vit.css.map */
