$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

@mixin transition() {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

@mixin box_shadow {
  box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
}

@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,700,900&display=swap");
/************************
BASE
************************/
body {
  font-family: "Poppins", sans-serif;
}
#page-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}
/************************
SIDEBAR
************************/
.logo {
  top: 5px;
  left: 1rem;
  padding: 0px;
  margin: 0;

  z-index: 11;
  position: fixed;
  a {
    color: $black;
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
  }
}
#navigation {
  position: fixed;
  z-index: 10;
  overflow: auto;
  top: 0px;
  bottom: 0;
  left: -460px;
  width: 520px;
  padding: 20px 0px;
  height: 100%;
  background-color: $white;
  color: $black;
  @include transition;
  @include box_shadow();

  
  .menuicon {
    position: relative;
    z-index: 5;
    top: 50%;
    right: 0.95rem;
    cursor: pointer;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91),
      opacity 500ms, box-shadow 250ms, background-color 500ms;
    float: right;
    & > div {
      width: 2.25rem;
      height: 4px;
      margin-bottom: 16px;
      background-color: $black;
    }

    &.active {
      & > div {
        background-color: $black;
      }

      & #top {
        /*transform: translateY(0px) rotate(-135deg);*/
      }
      & #bottom {
        /*transform: translateY(-10px) rotate(-45deg);*/
      }
    }
  }
  .menu-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    align-items: stretch;
    display: flex;
    margin-top: 2rem;
    
    .main {
      width: 50%;

      min-height: 45vh;
      ul{-webkit-align-self: stretch;
        align-self: stretch;
        vertical-align:top ;
      li a {
        font-size: 2rem;
        line-height: 2rem;
        line-height: 4rem;
      }}
    }
    .submenu {
      width: 50%;
      font-size: 0.75rem;
    }
    ul {
      list-style: none;
      -webkit-flex: 1 1 auto;

      flex: 1 1 auto;
      -webkit-align-self: stretch;
      align-self: stretch;
      vertical-align: middle;

      li {
        width: 100%;
        padding: 5px 0px;
        a {
          font-size: 0.75rem;
          text-decoration: none;
          color: $black;
        }
      }
      &.menu-title {
        color: rgba($black, 0.25);
        -webkit-align-items: flex-start;
  align-items: flex-start;
 

        &__dark {
          color: $black;
          h4 {
            padding: 0;
            padding: 0;
            margin: 0;
            line-height: 1.25;
          }
          li a {
            color: rgba($black, 0.25);
          }
        }
      }
    }
    h4 {
      font-size: 0.75rem;
      font-weight: 400;
      margin: 0;
      &.topmenu{
        min-height: 4rem;
        font-size: 0.75rem;
        vertical-align: top;
        
      }
    }

    
    
  }
}

/************************
HEADER
************************/
.nav-top {

z-index: 2;
position: fixed;
top: 0;
left: 0;
width:100%;
background: transparent;

.wrap-top-nav{
 
  width: 100%;
  padding: 20px 0;
  

  a{
    text-decoration: none;
    font-size: 1rem;
    padding: 15px 30px; 
    color: $black;
    border-radius: 5px;
    border:1px solid transparent;
    @include transition();
    &:hover,
    &:focus,
    &:active{
      background: transparent;
      border: 1px solid $black;

    }
  }
  .download-app{
    float:left;
   

  }
  .wrap-top-right{
    position: relative;
    float:right;

    
    .currency{
      float: left;

    }
    .sign-in{
      float:left;
      a{
        padding: 15px 15px;
        &.register{
          border: 1px solid $black;
          &:hover,
          &:focus,
          &:active{
            background: $black;
            border: 1px solid $black;
            color:$white;
  
          }
          
        }

      }

    }
    .search{
      float: left;
      padding: 0px 15px;
     
input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  background-color:transparent;
	border: 1px solid transparent;
  padding: 0px 10px 0px 42px;
	width: 55px;
  -webkit-border-radius:1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
  @include transition();
  height:25px;
}

input[type=search]:focus,
input[type=search]:hover {
  width: 300px;
	background-color:$white;
	border-color: $black;
  -webkit-box-shadow: 0 0 5px #d1d1d1;
	-moz-box-shadow: 0 0 5px #d1d1d1;
  box-shadow: 0 0 5px #d1d1d1;
  padding: 9px 10px 9px 42px;
  min-height:25px;
}

input:-moz-placeholder{
  color: #00241B;
}

 textarea::placeholder,
 input::-webkit-input-placeholder {
	color: #00241B;
}


    }

}

}
}
header {
  position: relative;
  width: 100%;
  
  min-height: 85vh;
    .slide-main {
    width: 100%;
    height: 100%;
    max-height: 85vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

    min-height: 85vh;
    .header-title {
      position: absolute;
      width: 100%;
      top: 25%;
      left: 0;
      z-index: 2;
      h1{
        font-size: 5rem;
        color:$white;
        font-weight: 900;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
      }
      h2{
        color:$white;
      }
    }
    .bg-image {
      max-width: 100%;
      width: 100%;
      height: 0;
      left: 0;
      top: 0;
      overflow: hidden;
      position: relative;
      padding-bottom: 56.25%;

      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/************************
ANIMATION
*************************/
.one,
.two,
.thee,
.four,
.five,
.six{
  opacity: 0;
}